<div class="form-container" [formGroup]="userFormGroup">
  <div class="form-input">
    <label for="lastName">email:</label>
    <input id="lastName" type="text" formControlName="lastName">
  </div>
  <div class="form-input">
    <label for="firstName">Utónév:</label>
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <div class="form-input">
    <p for="gender">Neme:</p>
    <span>Férfi:
      <input type="radio"  [value]="gender.Male" formControlName="gender">
    </span>
    <span>Nő:
      <input type="radio" [value]="gender.Female" formControlName="gender">
    </span>
    <span>Egyéb:
      <input type="radio" [value]="gender.Other" formControlName="gender">
    </span>
  </div>
  <div class="form-input">
    <p>Születési ország:</p>
    <select formControlName="country">
      <option *ngFor="let country of countries" [ngValue]="country">
        {{ country.name }}
      </option>
    </select>
  </div>
  <div class="form-input">
    <p>Kor:</p>
    <input type="text" formControlName="age">
  </div>
  <div class="buttons">
    <button (click)="onCancel()">Mégse</button>
    <button (click)="onSubmit()" [disabled]="!userFormGroup.valid">Mentés</button>
  </div>
  <h3>
    {{ userFormGroup.controls.lastName.value }}
  </h3>
</div>

